build
*.ipr
run
*.iws
out
*.iml
.gradle
output
bin
libs

.classpath
.project
.idea
classes
.metadata
.vscode
.settings
*.launch

common/jars/
fabric/jars/
forge/jars/
jars/
.architectury-transformer

reports